#container {
  width: 40%;
  height: 80%;
}

button {
  height: 75px;
  width: 75px;
  background-color: #303030;
  border: 2px solid black;
  color: white;
  margin-bottom: 5px;
  font-size: 22px;
}

.double {
  width: 154px;
}

button:hover {
  background-color: #9C2946;
}

.red {
  background-color: #C33357;
  color: white;
  border: 2px solid black;
}

.red:hover {
  background-color: #9C2946;
}

#calcScreen {
  width: 310px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: .5px solid lightgrey;
  background-color: white;
  color: #c0c0c0;
  padding-left: 20px;
}
